/** Shared **/

body {
    font-family: sans-serif;
    background: #fff;
}

h1 {
    font-family: 'PT serif';
}

a {
    color: #444;
    text-decoration: none;
    margin-left: 0;
    transition: margin-left 0.4s;
}

a:hover {
    color: #36a;
    margin-left: 4px;
}

/** Select page **/

ul#puzzleList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    position: absolute;
    bottom: 0;
    top: 0;
}

ul#puzzleList a
{
    padding: 10px 0;
}

/** Puzzle page **/

table#grid {
    margin: 20px auto;
    padding: 7px;
    background: #111;
    border: 7px solid #999;
    border-radius: 7px;
    box-shadow: 4px 4px 9px #aaa;
}

td {
    /*font-size: 90vh;*/
    width:25px;
    height:25px;
    margin: 0;
    padding: 0;
}

div.cell {
    width: 23px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    border-radius: 2px;
    background: white;
    transition: background-color 0.3s, opacity 0.3s;
    -webkit-user-select: none;
    user-select: none;
    margin: 1px;
}

div.cell.enterable {
    cursor: pointer;
    background-color: #ddd;
}

div.cell:not(.entered):not(.selected) {
    opacity: 0.5;
}

div.cell:not(.entered) {
    font-family: monospace;
    font-size: 0.9em;
    color: #444;
}

div.cell.selected {
    background: #8df;
}

div.cell:focus {
    background: #fae;
}

div.cell.default {
    background: #ddd;
    cursor: default;
    font-weight: bold;
}

tr {
    margin: 0;
    padding: 0;
}


