/** Shared **/

body {
    font-family: sans-serif;
    background: #fff;
}

h1 {
    font-family: 'PT serif';
}

a {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: #36a;
}

a:active {
    color: #000;
}

#content {
    max-width: 400px;
    margin: 0 auto;
}

.central {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
}

header > h1 {
    position: absolute;
    left: 50%;
    margin-left: -150px;
}

header {
    height : 100px;
}

/** Select page **/

ul#puzzleList {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 85%;
}

ul#puzzleList a
{
    width: 100px;
    display: inline-block;
    margin: 2px;
    padding: 10px 8px;
    background: #e8e8e8;
    transition: padding-left, background-color 0.4s;
}

ul#puzzleList a:hover
{
    background: #f0f0f0;
}

ul#puzzleList a:active
{
    background: #fff;
}

/** Puzzle page **/

table#grid {
    margin: 20px auto;
    padding: 7px;
    background: #111;
    border-radius: 7px;
    box-shadow: 4px 4px 9px #aaa;
}

td {
    /*font-size: 90vh;*/
    width:25px;
    height:25px;
    margin: 0;
    padding: 0;
}

div.cell {
    width: 23px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    border-radius: 2px;
    background: white;
    transition: background-color 0.3s, opacity 0.3s;
    -webkit-user-select: none;
    user-select: none;
    margin: 1px;
}

div.cell.enterable {
    cursor: pointer;
    background-color: #e8e8e8;
}

div.cell:not(.entered):not(.selected) {
    background-color: #444;
    color: #aaa;
}

div.cell:not(.entered) {
    font-family: 'Nova Mono', monospace;
    font-size: 12px;

    color: #444;
}

div.cell.selected {
    background: #8df;
}

div.cell:focus {
    background: #fae;
}

div.cell.default {
    background: #e8e8e8;
    cursor: default;
    font-weight: bold;
}

tr {
    margin: 0;
    padding: 0;
}

table#lookup {
    margin: 0 auto;
}

.small {
    font-size: 12px;
}

.mono {
    font-family: 'Nova Mono', monospace;
}

table#lookup td {
    height: 40px;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
}

table#lookup td.entered {
    font-weight: bold;
    background-color: #333;
    color: #e8e8e8;
}

.splash {
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid #111;
    border-radius: 7px;
    position: absolute;
    left: 30px;
    right: 30px;
    text-align: center;
    z-index: 20;
}

.screen {
    background: rgba(200, 200, 200, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}


