<h1 ng-if="isSolved()">solved</h1>

<table cellpadding="0" cellspacing="0" id="grid">
	<tr ng-repeat="row in map">
		<td ng-repeat="cell in row track by $index">
			<div class="cell enterable"
				 ng-if="cell != null && !initState[cell]"
				 ng-focus="select(cell)"
				 ng-blur="deselect()"
				 ng-class="{entered: state[cell], selected: cell == selected}"
				 tabindex="0"
				 testd>
				{{state[cell] || cell + 1}}
			</div>
			<div class="cell default entered"
				 ng-if="cell != null && initState[cell]">
				{{state[cell]}}
			</div>
		</td>
	</tr>
</table>

<table id="lookup">
	<tr>
		<td ng-repeat="letter in 'ABCDEFGHIJKLM'" ng-class="{entered: match(letter)}">
			<div>{{letter}}</div>
			<div class="small mono">{{match(letter)}}</div>
		</td>
	</tr>
	<tr>
		<td ng-repeat="letter in 'NOPQRSTUVWXYZ'" ng-class="{entered: match(letter)}">
			<div>{{letter}}</div>
			<div class="small mono">{{match(letter)}}</div>
		</td>
	</tr>
</table>

<a ng-href="#/" class="central">back</a>