<h1>Puzzle {{puzzleNumber}}</h1>
<table cellpadding="0" cellspacing="0">
	<tr ng-repeat="row in map">
		<td ng-repeat="cell in row track by $index">
			<div class="cell enterable"
				 ng-if="cell != null && !initState[cell]"
				 ng-focus="select(cell)"
				 ng-blur="deselect()"
				 ng-class="{ entered: state[cell], selected: cell == selected }"
				 tabindex="0"
				 testd>
				{{state[cell] || cell + 1}}
			</div>
			<div class="cell default entered"
				 ng-if="cell != null && initState[cell]">
				{{state[cell]}}
			</div>
		</td>
	</tr>
</table>

<table>
	<tr>
		<td ng-repeat="letter in 'ABCDEFGHIJKLM'">{{letter}}</td>
	</tr>
	<tr>
		<td ng-repeat="letter in 'ABCDEFGHIJKLM'">{{match(letter)}}</td>
	</tr>
	<tr>
		<td ng-repeat="letter in 'NOPQRSTUVWXYZ'">{{letter}}</td>
	</tr>
	<tr>
		<td ng-repeat="letter in 'NOPQRSTUVWXYZ'">{{match(letter)}}</td>
	</tr>
</table>

<a ng-href="#/">back</a>