<div class="center">
	<a ng-click="showCheck()" class="button">check answers</a>
</div>

<table cellpadding="0" cellspacing="0" id="grid">
	<tr ng-repeat="row in map">
		<td ng-repeat="cell in row track by $index">
			<div class="cell enterable"
				 ng-if="cell != null && !initState[cell]"
				 ng-focus="select(cell)"
				 ng-blur="deselect()"
				 ng-class="{entered: state[cell], selected: cell == selected}"
				 tabindex="0"
				 data-index="{{cell}}"
				 testd>
				{{state[cell] || cell + 1}}
			</div>
			<div class="cell default entered"
				 ng-if="cell != null && !!initState[cell]">
				{{state[cell]}}
			</div>
		</td>
	</tr>
</table>

<div class="screen" ng-if="isSolved()"></div>

<div class="splash" ng-if="isSolved()">
	<h3>Congratulations!</h3>
	<h4>You solved the codeword</h4>
	<p ng-if="next"><a href="#/">menu</a> | <a href="#/{{next}}">puzzle {{next}}</a></p>
</div>

<div class="splash" ng-if="checkVisible">
	<p ng-if="!isValid()">Uh-oh, looks like you've got something wrong</p>
	<p ng-if="isValid()">So far, so good</p>
</div>

<table id="lookup">
	<tr>
		<td ng-repeat="letter in 'ABCDEFGHIJKLM'" ng-class="{entered: match(letter)}" set-letter>
			<div>{{letter}}</div>
			<div class="small mono">{{match(letter)}}</div>
		</td>
	</tr>
	<tr>
		<td ng-repeat="letter in 'NOPQRSTUVWXYZ'" ng-class="{entered: match(letter)}" set-letter>
			<div>{{letter}}</div>
			<div class="small mono">{{match(letter)}}</div>
		</td>
	</tr>
</table>

<div class="center">
	<a ng-href="#/" class="button">back</a>
</div>